*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
}

.image-box{
    width: auto;
    height: 400px;
    display: flex;
}